[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
block_buster = "8uDndoDUtLqD3fhiZdKk9HAuQd3dVcbEkPNYS68iq5rZ"

[programs.localnet]
block_buster = "BN61uwvvUDGr9RwdHt5MNxT3ci4VNVxiC9Uxh5zdVU7X"

[registry]
url = "https://api.apr.dev"

[provider]
# cluster = "devnet"
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
